// Font Variables

@font-face {
    font-family: DINCondensedC;
    src: url(~assets/font/DINCondensedC.otf);
}

$font-stack-headers: DINCondensedC, serif;
$font-stack: Arial, "Helvetica Neue", Helvetica, sans-serif;


$primary-color: #000;
$dark-primary-color: #fff;
$alternative-color-bg: #000;
$alternative-color-text: #fff;
$label-color: #666;

$bg-main-color: #fff;
$bg-toolbar-color: #fff;
$link-color: #8FCC14;
$link-color-bg: #D9D9D9;

$border-bold-color: #979797;

$header-size: 16px;
$primary-size: 14px;
$second_size: 14px;
$label-size: 12px;
$item-size: 16px;


$up-value-color: #8FCC14;
$down-value-color: #FF6666;




/************ COMMONS ************/
body {
	font: 100% $font-stack;
	color: $primary-color;
	font-size: $primary-size;
	line-height:22px;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $link-color;
	}
}

p {
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

h1 {
	font: 100% $font-stack-headers;
	font-size: 48px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
}
h2 {
	font: 100% $font-stack-headers;
	font-size: 32px;
	line-height: 24px;
	text-transform: uppercase;
	margin: 0;

}
h3 {
	font: 100% $font-stack-headers;
	font-size: $header-size;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0;
}
h4 {
	font-weight: 100;
	margin: 0;

}

p {
	margin: 0;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

@media (max-width: 769px) { 
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 16px;
	}
}


.margin6 {
	margin-top: 6px !important;
}
.margin8 {
	margin-top: 8px !important;
}
.margin12 {
	margin-top: 12px !important;
}
.margin15 {
	margin-top: 15px !important;
}
.margin20 {
	margin-top: 20px !important;
}
.margin24 {
	margin-top: 24px !important;
}
.margin30 {
	margin-top: 30px !important;
}
.margin40 {
	margin-top: 40px !important;
}
.margin60 {
	margin-top: 60px !important;
}
.margin80 {
	margin-top: 80px !important;
}


.tt_label {
	font-size: $label-size;
	color: $label-color;
	line-height: 16px;
}

.row_field {
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	label {
		font-size: $label-size;
		display: block;
		margin-bottom: 6px;
		line-height: 16px;
	}

	input[type="text"], input[type="password"], input[type="email"]  {
		height: 48px;
		border: 1px solid $border-bold-color;
		padding: 0 16px;
		display: block;
		font-size: $header-size;
		font-family: $font-stack-headers;
		text-transform: uppercase;

	}

	input::placeholder { 
		color: $link-color; 
	}

	select {
		text-transform: uppercase;
		font-size: $header-size;
		font-family: $font-stack-headers;
		height: 48px;
		border: 1px solid $border-bold-color;
		border-radius: 0px;
		padding: 0 16px;
		display: block;
		background: none;
		-webkit-appearance:none;
	}
	.button_link {
		margin-top: 24px;
		
	}
	&.row_right {
		.button_link {
			width: 50%;
			align-self: flex-end;
		}
	}
}

.button_link {
	min-width: 120px;
	padding: 0 20px;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	border: 1px solid $border-bold-color;
	background-color: $primary-color;
	color: $dark-primary-color;
	font-size: $header-size;
	font-family: $font-stack-headers;
	text-transform: uppercase;
	font-weight: bold;
	flex-grow: 0;
	&:hover {
		background-color: $dark-primary-color;
		color: $primary-color;
		transition: all 0.1s ease-in-out;
	}
}

.ic_telegram_white {
	background-image: url('~assets/images/telegram_white.svg');
	width: 12px;
	height: 12px;
	display: inline-flex;
}



.ff_close {
	background: none;
	border:none;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	padding: 0 12px;
	height: 56px;
	&:focus {
		outline: none;
	}
	svg {
		width: 48px;
		height: 48px;
	}
	&:hover {
		.stroked {
			stroke: $link-color;
		}
	}
}


/************ INDEX PAGE STRUCTURE **************/
.layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	.toolbar {
		height:48px;
	}
	.content {
		flex-grow: 1;
	}
}

/************ INDEX BLOCKS ************/
.toolbar {
	padding: 0 16px;
	background-color: $bg-toolbar-color;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex-shrink: 0;

	.logo_link {
		position: absolute;
		left:16px;
		display: flex;
		#logo_path {
			fill: $primary-color;
		}

	}
	.filters {
		display: flex;
		align-items: baseline;
		position: relative;
		.loading {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $bg-toolbar-color;
			opacity: 0.8;
		}
	}
}
.content {
	background-color: $bg-toolbar-color;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}



/************ COMPONENTS **************/
.filter {
	display: flex;
	align-items: baseline;
	font-family: $font-stack-headers;

	label {
		font-size: $label-size;
		line-height: $label-size;
		margin-left: 16px;
		margin-right: 8px;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
			border: 1px solid $primary-color;
			margin-left: 2px;
			padding: 3px 6px;
			font-size: $item-size;
			line-height: $item-size+2;
			height: $item-size;
			cursor: pointer;
			transition: all 0.1s ease;
			&:hover:not(.active_filter) {
				background-color: $link-color-bg;
				border-color: $link-color-bg;
			}
			&.active_filter {
				background-color: $alternative-color-bg;
				color: $alternative-color-text;
			}
		}
	}
}
.ff_account_menu {
	font-family: $font-stack-headers;
}





/* account page */
.ff_account {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	.form_pane {

		background-color: $bg-main-color;
		margin: 48px 0;
		border: 1px solid $border-bold-color;
		width: 640px;

		display: flex;
		flex-direction: column;
		align-items: center;

		.navigation {
			$nav_height: 56px;
			width: 100%;
			height: $nav_height;
			border-bottom: 1px solid $border-bold-color;
			font-family: $font-stack-headers;

			list-style: none;
			margin: 0;
			padding: 0;
			font-size: $header-size;

			display: flex;
			justify-content: center;

			li {
				margin: 0;
				display: inline-block;
				padding: 0 12px 0 12px;
				margin-bottom: 2px;

				span {
					line-height: $nav_height;
					display: inline-block;
					height: $nav_height;
				}

				.nuxt-link-active {
					border-bottom: 2px solid $primary-color;
				}

				a {
					display: block;
					height: 100%;
					line-height: $nav_height;
				}

				a:hover {
					color: $link-color;
				}
			}
		}


		form, .flash_form {
			width: 62.5%;

			border: none;

			padding-bottom: 50px;
			padding-top: 50px;

			h1 {
				margin-top: 24px;
				text-align: center;
			}

			.success_text {
				margin-top: 16px;
				text-align: center;
			}

			.love_img {
				display: block;
				margin: 32px auto 0;

			}

			.form_logo {
				display: block;
				height: 40px;
				color: $bg-toolbar-color;
				margin-top: 32px;

				background-position: center center;
				background-repeat: no-repeat;
			}

			.row_tools {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-top: 24px; 
				position: relative;
				min-height: 48px;

				.button_link {
					margin: 0 45px;
				}

				.row_link {
					height: 48px;
					color: $primary-color;
					font-size: $header-size;
					font-family: $font-stack-headers;
					text-transform: uppercase;
					font-weight: bold;
					line-height: 48px;
					text-align: center;
					background: none;
					border: none;
					cursor: pointer;
				}

				.row_link:hover {
					color: $link-color;
				}

				.loading-spiral {
					position: absolute;
					left: 50%;
					margin-left: -20px;
				}
			}

			.row_tools.row_center {
				justify-content: center;
				input, .button_link {
					margin-right: 0px;
					margin-left:  0px;
				}
			}

			.row_errors {
				margin: 0;
				padding: 0;
				margin-top: 24px;
			}

		}
	}
}
@media (max-width: 769px) {
	.ff_account {
		flex: 1 0 auto;
		align-items: center;
		background: none; 
		.form_pane {

			margin-top: 0;
			border: none;
			width: 100%;

			display: flex;
			flex-direction: column;
			align-items: center;

			form, .flash_form {
				width: 80%;

				.row_tools {
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					input {
						margin-right: 0px;
					}
					a {
						margin-top: 24px; 
					}
				}

				.instruction {
					text-align: center;
					margin-top: 24px;
				}
			}

		}
	}
}



.tt_exchanges {
	display: flex;
	width: 100%;

	h2 {
		margin: 80px 0 0 0;
	}

	.form_instruction {
		margin-top: 24px;
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.right_pane, .left_pane {
		flex-grow: 1;
		padding: 0 24px;
		width: 0;
	}

	.left_pane {
		ul {
			margin: 0;
			padding: 0;
			li {
				display: flex;
				line-height: 64px;
				list-style: none;
				border-bottom: 1px solid $border-bold-color;
				span {
					flex-grow: 1;
				}
				.remove_button {
					flex-grow: 0;
					font-size: 24px;
					color: $border-bold-color;
					align-self: flex-end;
					padding: 0 6px;
					cursor: pointer;
				}
			}
		}
	}
}

.tt_about {
	width: 50%;
	margin: 80px auto;
	.column_block {
		display: inline-block;
		width: 32%;
		vertical-align: top;
		h4, p {
			margin-right: 48px;

		}
		h4 {
			margin-top: 24px;
		}
		p {
			margin-top: 4px;
		}
	}

	ul {

		margin: 12px 0 0 0;
		padding: 0;
		li {
			display: flex;
			line-height: 64px;
			list-style: none;
			border-bottom: 1px solid $border-bold-color;

			font-family: $font-stack-headers;
			font-size: $header-size;
			line-height: 64px;
			text-transform: uppercase;
			cursor: pointer;

			.how_to_index {
				flex-grow: 0;
				margin-right: 12px;
			}
			.how_to_item {
				flex-grow: 1;
			}
			.go_button {
				flex-grow: 0;
				font-size: 24px;
				color: $border-bold-color;
				align-self: flex-end;
				padding: 0 6px;
				cursor: pointer;
				svg path{
					fill: $border-bold-color;
					stroke: $border-bold-color;
				}
			}
			&:hover {
				.how_to_item {
					color: $link-color;
				}
				.go_button {
					svg path{
						fill: $primary-color;
						stroke: $primary-color;
					}
				}
			}
			&:last-child {
				border: none;
			}
		}
	}

	.button_link {
		display: inline-block;
		height: 32px;
		line-height: 34px;
		margin-bottom: 80px;
		margin-top: 16px;
		padding: 0 8px;
		.ic_telegram_white {
			margin-right: 8px;
		}
	}
}

.tt_portfolio_field {
	svg {
		text {
				font-family: $font-stack-headers;
		}
	}
}

.content{
	position: relative;
}

.coin_details {
	font-family: $font-stack-headers;

	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	position: absolute;
	.coin_detail {
		flex-shrink: 0;
		flex-basis: 20%;
		margin-top: 16px;
		label {
			font-size: $second_size;
			position: relative;
			width: 100%;
			display: inline-block;
			svg {
				position: relative;
				top: 2px;
			}
			.info_text {
				position: absolute;
				left: -50%;
				right: 50%;
				z-index: 9;

				visibility: hidden;
				opacity: 0;
				transition: visibility 0s, opacity 0.1s ease-in-out;

				font-size: $label-size;
				color: $label-color;
				line-height: 16px;
				background-color: $bg-toolbar-color;
				font-family: $font-stack;
				padding: 12px;
				box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);


				&.info_active {
					visibility: visible;
					opacity: 1;
				}
			}
		}
		.top_detail {
			font-size: 48px;
			margin-top: 14px;
			color: $dark-primary-color;
			&.symbol {
				color: $primary-color;
			}
		}
		.bottom_detail {
			font-size: 24px;
			margin-top: 16px;
			opacity: 0.4;
		}
		&:first-child {
			margin-left: 64px;
		}
		&:last-child {
			margin-right: 64px;
		}
	}
}
.chart {
	position: absolute;
	background-color: $down-value-color;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;

	.ff_close {
		position: absolute;
		top: 12px;
		right: 0;
		z-index: 9;
	}
	&.up {
		background-color: $up-value-color;
	}
	.graph {
		flex-grow: 1;
		width: 100%;
	}
}






.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden; 
	padding-top: 60px;
	transition: 0.5s;
	z-index: 10;
	.sidenav_overflow {
		width: 250px;
		overflow: hidden;
	}

	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		text-transform: uppercase;
		color: $dark-primary-color;
		display: block;
		transition: 0.3s;
		&.nuxt-link-exact-active {
			color: $up-value-color;
		}
	}

	a:hover {
		color: $up-value-color;
	}

	.closebtn {
		position: absolute;
		top: 8px;
		font-size: 36px;
	}
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.burger {
	cursor: pointer;
    position: absolute;
    right: 16px;
}
.ff_account_menu {
	@extend .button_link;
	font-size: $header-size;
	font-weight: 100;
	line-height: 34px;
    height: 32px;
    position: absolute;
    right: 64px;
    text-align: center;
}


.tooltip_date {
	font-size: 16px;
	font-family: $font-stack-headers;
	color: $primary-color;
}
.tooltip_label {
	font-size: 12px;
	font-weight: 100;
	color: $primary-color;
}

.tooltip_value {
	font-size: 24px;
	font-family: $font-stack-headers;
	color: $primary-color;

}

.portfolio_container {

	width: 100%;
	height: 100%;

}

.empty_message{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}