// Font Variables

@font-face {
    font-family: DINCondensedC;
    src: url(~assets/font/DINCondensedC.otf);
}

$font-stack: DINCondensedC, serif;


$primary-color: #000;
$dark-primary-color: #fff;
$alternative-color-bg: #000;
$alternative-color-text: #fff;


$bg-main-color: #fff;
$bg-toolbar-color: #fff;
$link-color: #FF9900;
$link-color-bg: #D9D9D9;

$border-bold-color: #D9D9D9;


$primary-size: 16px;
$second_size: 14px;
$label-size: 12px;
$item-size: 16px;



$up-value-color: #8FCC14;
$down-value-color: #FF6666;




/************ COMMONS ************/
body {
	font: 100% $font-stack;
	color: $primary-color;
	font-size: $primary-size;
	line-height:26px;
}

a {
	color: $primary-color;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: $link-color;
}
h1 {
	font-size: 32px;
	color: $primary-color;
}
h2 {
	font-size: 24px;
	color: $primary-color;
}
h3 {
	font-size: 18px;
	line-height: 20px;
	color: $primary-color;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

@media (max-width: 769px) { 
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 16px;
	}
}



.row_field {
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	label {
		display: block;
		margin-bottom: 4px;
		line-height: 16px;
	}

	input[type="text"], input[type="password"], input[type="email"]  {
		height: 48px;
		border: 1px solid $border-bold-color;
		padding: 0 13px;
		display: block;
	}

	input::placeholder { 
		color: $link-color; 
	}
}

.button_link {
	min-width: 120px;
	padding: 0 20px;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	border: 1px solid $border-bold-color;
	background-color: $primary-color;
	color: $dark-primary-color;
	font-size: $label-size;
	text-transform: uppercase;
	font-weight: bold;
	flex-grow: 0;
	&:hover {
		background-color: $dark-primary-color;
		color: $primary-color;
		transition: all 0.1s ease-in-out;
	}
}


/************ INDEX PAGE STRUCTURE **************/
.layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	.toolbar {
		height:48px;
	}
	.content {
		flex-grow: 1;
	}
}

/************ INDEX BLOCKS ************/
.toolbar {
	padding: 0 16px;
	background-color: $bg-toolbar-color;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	.logo_link {
		position: absolute;
		left:16px;
		display: flex;
		#logo_path {
			fill: $primary-color;
		}

	}
	.filters {
		display: flex;
		align-items: baseline;
	}
}
.content {
	background-color: $bg-toolbar-color;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}



/************ COMPONENTS **************/
.filter {
	display: flex;
	align-items: baseline;
	label {
		font-size: $label-size;
		line-height: $label-size;
		margin-left: 16px;
		margin-right: 8px;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
			border: 1px solid $primary-color;
			margin-left: 2px;
			padding: 3px 6px;
			font-size: $item-size;
			line-height: $item-size+2;
    		height: $item-size;
    		cursor: pointer;
    		transition: all 0.1s ease;
    		&:hover:not(.active_filter) {
    			background-color: $link-color-bg;
    			border-color: $link-color-bg;
    		}
    		&.active_filter {
    			background-color: $alternative-color-bg;
    			color: $alternative-color-text;
    		}

		}
	}
}






/* account page */
.ff_account {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	.form_pane {

		background-color: $bg-main-color;
		margin: 48px 0;
		border: 1px solid $border-bold-color;
		width: 640px;

		display: flex;
		flex-direction: column;
		align-items: center;

		.navigation {
			$nav_height: 56px;
			width: 100%;
			height: $nav_height;
			border-bottom: 1px solid $border-bold-color;

			list-style: none;
			margin: 0;
			padding: 0;
			font-size: $primary-size;

			display: flex;
			justify-content: center;

			li {
				margin: 0;
				display: inline-block;
				padding: 0 12px 0 12px;
				margin-bottom: 2px;

				span {
					line-height: $nav_height;
					display: inline-block;
					height: $nav_height;
				}

				.nuxt-link-active {
					border-bottom: 2px solid $primary-color;
				}

				a {
					display: block;
					height: 100%;
					line-height: $nav_height;
				}

				a:hover {
					color: $link-color;
				}
			}
		}


		form, .flash_form {
			width: 62.5%;

			border: none;

			padding-bottom: 50px;
			padding-top: 50px;

			h1 {
				margin-top: 24px;
				text-align: center;
			}

			.success_text {
				margin-top: 16px;
				text-align: center;
			}

			.love_img {
				display: block;
				margin: 32px auto 0;

			}

			.form_logo {
				display: block;
				height: 40px;
				color: $bg-toolbar-color;
				margin-top: 32px;

				background-position: center center;
				background-repeat: no-repeat;
			}

			.row_tools {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-top: 24px; 
				position: relative;
				min-height: 48px;

				.button_link {
					margin: 0 45px;
				}

				.row_link {
					height: 48px;
					color: $primary-color;
					font-size: $label-size;
					text-transform: uppercase;
					font-weight: bold;
					line-height: 48px;
					text-align: center;
					background: none;
					border: none;
					cursor: pointer;
				}

				.row_link:hover {
					color: $link-color;
				}

				.loading-spiral {
					position: absolute;
					left: 50%;
					margin-left: -20px;
				}
			}

			.row_tools.row_center {
				justify-content: center;
				input, .button_link {
					margin-right: 0px;
					margin-left:  0px;
				}
			}

			.row_errors {
				margin: 0;
				padding: 0;
				margin-top: 24px;
			}

		}
	}
}
@media (max-width: 769px) {
	.ff_account {
		flex: 1 0 auto;
		align-items: center;
		background: none; 
		.form_pane {

			margin-top: 0;
			border: none;
			width: 100%;

			display: flex;
			flex-direction: column;
			align-items: center;

			form, .flash_form {
				width: 80%;

				.row_tools {
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					input {
						margin-right: 0px;
					}
					a {
						margin-top: 24px; 
					}
				}

				.instruction {
					text-align: center;
					margin-top: 24px;
				}
			}

		}
	}
}


.exchanges_form {
	display: flex;
	width: 100%;
	.right_pane, .left_pane {
		flex-grow: 1;
		padding: 0 12px
	}



}